version: 2
jobs:
  test:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: npm install
      - run: npm run test

workflows:
  version: 2
  test:
    jobs:
      - test
